<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apply for Loan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <nav class="dashboard-nav">
        </nav>

    <div class="standalone-form-container">

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="flash-messages">
            {% for category, message in messages %}
              <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        <div class="standalone-wrapper">
    <div class="standalone-form-container">
        <h2>Apply For Loan</h2>
                <form action="/submit_loan" method="post">

                    <div class="form-group">
                        <i class="fas fa-dollar-sign"></i>
                        <input type="number" id="loan_amount" name="loan_amount" placeholder="Amount" required>
                    </div>

                    <div class="form-group">
                        <i class="fas fa-clipboard-list"></i>
                        <input type="text" id="loan_purpose" name="loan_purpose" placeholder="Purpose" required>
                    </div>

                    <div class="form-group">
                        <i class="fas fa-clock"></i>
                        <input type="number" id="loan_term" name="loan_term" placeholder="Term (in months)" required>
                    </div>

                    <div class="form-group">
                        <i class="fas fa-money-check-alt"></i>
                        <input type="number" id="annual_income" name="annual_income" placeholder="Annual Income" required>
                    </div>

                    <button type="submit" class="loan-submit-button">Submit Application</button>

                    <a href="/dashboard" class="btn-cancel">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>